# requirements.txt

# Force pip to look for CPU-only versions of PyTorch and related libraries
--extra-index-url https://download.pytorch.org/whl/cpu

# AI / ML Libraries (torch first)
torch
sentence-transformers
pandas
weaviate-client

# Core application
fastapi
uvicorn
python-dotenv
tinydb
requests